package [% package %];

import java.io.*;
import java.util.*;
import org.codehaus.jackson.map.*;
import org.codehaus.jackson.map.annotate.*;
import org.codehaus.jackson.type.*;
import org.codehaus.jackson.*;

[% SET sname = struct.name -%]

[% IF struct.comment %]
/**
[% struct.comment %]
**/
[% END %]
public class [% sname %]
{
[% FOREACH elt IN struct.elements -%]
    public [% elt.java_type %] [% elt.name %];
[% END -%]
}


